<!DOCTYPE html>
<html>
<head>
  <title>Opendata</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>搜尋</h1>
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
          <%= link_to "CZTWeb", root_path, id: "logo" %>
		  <nav>
            <ul class="nav pull-right display:inline">
			<li><%= link_to "首頁", root_path %></li>
            </ul>
          </nav>
        </div>
    </div>
</header>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>

<footer class="footer">
    <small>
      <p>©2016 作者:k7276832834@gmail.com - version:1.0</p>
	  <%= Time.now %>
	  <% unless user_signed_in? %>
	  <%= link_to "登入", new_user_session_path %>
	  <% end %>
	  <% if user_signed_in? %>
	  <%= link_to "登出", destroy_user_session_path, method: :delete %>
	  <% end %>
    </small>
    <br><br><br>
  </footer>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
